.list_wrapper {
	margin: 0px 100px;
	position: relative;
	height: max-content;
	height: -moz-max-content;
	 margin-top: 70px;
	 margin-bottom: 100px;
}

html, body {
	height: 100%;
	
}

.page_wrapper {
	height: --webkit-fill-available;
	height: -moz-available;
	min-width: 1080px;
	
}

.list_title {
	height: max-content;
	height: -moz-max-content;
}

.list_title h1 {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	padding-left: 10px;
}

.content_wrapper {
	position: relative;
	display: block;
	margin: 0 10px;
	height: max-content;
	height: -moz-max-content;
	padding-top: 20px;
}

.content_row {
	display: flex;
	height: max-content;
	height: -moz-max-content;
	border-bottom: 1px solid lightgrey;
	margin: 0 0;
}

.record_container {
	display: inline-block;
	min-width: 400px;
	width: 40%;
	height: 100px;
	margin: 0 0;
}

.media_type {
	display: inline-block;
	min-width: 100px;
	height: 100px;
	margin: 0 0;
	flex-grow: 1;
}

.added {
	display: inline-block;
	min-width: 40px;
	height: 100px;
	margin: 0 0;
	flex-grow: 1;
}

.rating {
	display: inline-block;
	min-width: 40px;
	height: 100px;
	margin: 0 0;
	flex-grow: 1;
}

.notes {
	display: inline-block;
	min-width: 60px;
	height: 100px;
	margin: 0 0;
	flex-grow: 1;
}

#record_title, #media_title, #added_title, #rating_title, #notes_title {
	height: 30px;
	border: 0px;
	padding-bottom: 5px;
}

#record_title p, #media_title p, #added_title p, #rating_title p, #notes_title p {
	padding: 0;
	position: relative;
	margin: 0;
	left: 10px;
	top: 8px;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: bold;
}

.record_container img {
	width: 85px;
	position: relative;
	top: 5px;
	padding-left: 5px;
	padding-right: 10px;
	float: left;
}

.edit_notes {
	margin-left: 20px;
	position: relative;
	display: inline-block;
}

.info_container a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin: 0 0;
	color: black;
	width: max-content;
	width: -moz-max-content;
	display: block;
	padding-bottom: 5px;
	position: relative;
	top: 20px;
}

.info_container {
	display: inline-block;
	height: 100px;
	width: max-content;
	width: -moz-max-content;
	min-width: 100px;
}

.info_container p {
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: grey;
	padding-top: 20px;
	margin: 0 0;
	display: block;
}

 .media_p {
	font-family: Helvetica;
	font-size: 15px;
	color: darkgreen;
	font-weight: bold;
	width: max-content;
	width: -moz-max-content;
	padding: 0;
	position: relative;
	top: 27px;
}

.added_p {
	font-family: Helvetica;
	font-size: 15px;
	color: black;
	font-weight: bold;
	width: max-content;
	width: -moz-max-content;
	padding: 0;
	position: relative;
	top: 27px;
}

.rating_p {
	font-weight: bolder;
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
	color: black;
	position: relative;
	top: 10px;
	padding: 0;
	left: 20px;
}

.notes_p {
	font-weight: normal;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	max-width: 100%;
	height: 100%;
	overflow-y: scroll;
	display: block;
}

.scrollable_note {
	height: 90px;
	display: block;
	width: 130px;
	margin: 5px 0;
	border: 1px solid lightgrey;
	border-bottom-width: 0px;
	border-top-width: 0px;
	padding: 0 5px;
	position: relative;
	right: 30px;
	flex-grow: 1;
	position: relative;
	float: right;
}

.checkbox_div {
	display: block;
	width: max-content;
	width: -moz-max-content;
	height: 100px;
	margin: 0 0;
	float: left;
}

.checkbox_div input {
	position: relative;
	top: 40px;
}

#checkbox_all {
	height: 30px;
}

#checkbox_all input{
	top: 7px;
}

.delete_btn {
	height: max-content;
	height: -moz-max-content;
	display: block;
	position: relative;
	top: 20px;
	left: 20px;
}

.delete_btn button {
	padding: 10px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: white;
	background-color: black;
	border-radius: 10px;
	width: 150px;
	cursor:pointer;
}



  .modal_container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 300; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 400px;
    height: 170px;
    top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
  }

  .modal_header {
      width: auto;
      height: 50px;
      text-align: center;
  }

.modal_header h1 {
    display: inline-block;
	width: max-content;
	width: -moz-max-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0;
    margin-top: 10px;
}

.modal_options {
    width: auto;
	height: 100px;
	text-align: center;
}

.modal_options p {
	width: max-content;
	width: -moz-max-content;
	margin: 10px auto;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}
  
.modal_options button {
    display: block;
	height: max-content;
	height: -moz-max-content;
    padding: 5px 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: black;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#modal_delete button {
	margin: 20px auto;
}

#modal_notes button {
	margin: 10px auto;
}

.modal_options textarea {
	width: 300px;
	height: 70px;
	resize: none;
	margin: 0 auto;
	position: relative;
	font-weight: normal;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

#modal_notes .modal_content {
	height: 190px;
}

footer {
	position: absolute;
	bottom: -100px;
	width: -webkit-fill-available;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 100px; opacity: 1}
  }