#login_div a {
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
    font-size: 17px;
    margin: 20px auto;
    font-family: Helvetica;
    display: block;
}

.page_title {
    margin-bottom: 30px;
}

.page_title h1 {
    font-size: 25px;
}